body{
    border: 1px;
    background-color: #f2f2f2;
}
#name{

    margin: auto;
    padding: none;
    display: flex;
    justify-content: center;
}
.mail{
    display: flex;
    justify-content: center;
}
#name1{
    border: 1px;
    margin: 20px;
    padding: 20px;
    justify-content: space-evenly;
  }
#name2{
    border: 1px;
    margin: 20px;
    padding: 20px; 
}
#name3{
    border: 1px;
    margin: 20px;
    padding: 20px;
}
#name4{
    height: 5px;
    border: 1px;
    margin: 5px;
    padding: 20px;
}